<div>
  <h1>tableau de voiture </h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Marque</th>
        <th>Modèle</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.marque}}</td>
        <td>{{car.modele}}</td>
        <td>
          <button (click)="showDetails(car)"></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="showDetails" class="card details-card">
    <div class="card-header">
      Car Details
      <button class="close" aria-label="Close" (click)="hideDetails()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <p>ID: {{ selectedCar.id }}</p>
      <p>Marque: {{ selectedCar.marque }}</p>
      <p>Modèle: {{ selectedCar.modele }}</p>
    </div>
  </div>
</div>